:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  body {
    font-family: "Inter", sans-serif;
    background-color: #f0ede9;
  }
  
  .container {
    display: grid;
    height: 3000px;
    grid-template-columns: 0.05fr 1fr 1fr 1fr 1fr 1fr 0.05fr;
    grid-template-rows: 0.1fr 0.07fr 0.07fr 0.05fr 1.6fr 1.6fr 0.1fr 0.1fr;
    grid-template-areas:
      "nav nav nav nav nav nav nav"
      "bar bar bar bar bar bar bar"
      "sidebar button button button button button lside"
      "sidebar green green green green green lside"
      "sidebar content1 content2 content3 content4 content5  lside"
      "sidebar content1 content2 content3 content4 content5 lside"
      "sidebar nxt nxt nxt nxt nxt lside"
      "sidebar footer footer footer footer footer lside"; 
    grid-gap: 0.2rem;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }
  #nxt {
    background: #325f55;
    grid-area: nxt;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #green {
    align-self: center;
    background: #64ffda;
    grid-area: green;
    border-radius: var(--main-radius);
    padding: 1px 10px;
    background-color: green;
    color: white;
    text-align: center;
  }
  #button {
    background-color: #f0ede9;
    grid-area: button;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #lside {
    background: #a7ffeb;
    grid-area: lside;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  .head {
    background: #ffffff;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    width: 5fr;
    position: -webkit-sticky;
    position: relative;
    top: 0;
    padding: 8px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0px;
  }
  
  main {
    background: #84ffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #sidebar {
    background: #18ffff;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  

  
  footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    margin: 1rem;
  }
  input[type=search]{
    background-color: rgb(233, 233, 233);
    border-color: rgb(233, 233, 233);
    box-sizing: border-box;
    padding: 20px 10px;
    width: 500px;
    height: 30px;
    border-style: hidden;
    color: #640e0e00;
    position: absolute;
    top: 25px;
    right: 70px;
}
.heading{
    position: absolute;
    float: left;
    width: 20%;
    background-color: rgb(255, 255, 255);
    top: 20px;
}
#logo{
  width: 150px;
  height: 50px;
}
#slogo{
    height: 40px;
    position: relative;
    left: 500px;
    top: 5px;
    cursor: pointer;
}
#bar {
    background: #555;
    grid-area: bar;
    border-radius: var(--main-radius);
    padding-top: 0px;
    margin-bottom: 9px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 0%;
  }
.dbtn {
    position: relative;
    background-color: #555;
    color: white;
    border-collapse: collapse;
    padding: 15px 38px;
    font-size: 16px;
    border: 1px solid #666;
    cursor: pointer;
}
.dropc {
    font-size: 14px;
    padding: 5px;
    display: none;
    position: absolute;
    background-color: #555;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropc a{
  text-decoration: none;
  text-align: left  ;
  padding: 8px;
  width: 200px;
  color: white;
}
.dropc a:hover{
  color: #999;
}
#dc1{
margin-left: 151px; 
}
#dc2{
    margin-left: 314px; 
}
#dc3{
    margin-left: 470px; 
}
#dc4{
    margin-left: 612px; 
}
#dc5{
    margin-left: 780px; 
}
#dc6{
    margin-left: 965px; 
}
#button a{
  text-decoration: none;
  color: white;
}
.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px 5px;
  margin-right: 4px;
  border-radius: 5px;
  color: white;
  border: 1px solid black;
  background-color: #555;
}
.btn:hover{
  transition: 0.2s;
  padding: 10px 6px;
  background-color: rgb(233, 233, 233);
  color: black;
}
#text1{
  padding: 1px 10pxs;
  color: white;
}
#content1 {
  background-color: #f0ede9;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
  "c11"
  "c12"
  "c13"
  "c14"
  "c15"
  "c16"
  ;
  margin-bottom: 200px;
}
.card{
  background-color: white;
  margin-bottom: 10px;
}
#c11{
  grid-area: c11;
}
#c12{
  grid-area: c12;
}
#c13{
  grid-area: c13;
}
#c14{
  grid-area: c14;
}
#c15{
  grid-area: c15;
}
#c16{
  grid-area: c16;
}
#content2 {
  background-color: #f0ede9;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
  "c21"
  "c22"
  "c23"
  "c24"
  "c25"
  "c26"
  ;
  margin-bottom: 200px;
}
#c21{
  grid-area: c21;
}
#c22{
  grid-area: c22;
}
#c23{
  grid-area: c23;
}
#c24{
  grid-area: c24;
}
#c25{
  grid-area: c25;
}
#c26{
  grid-area: c26;
}

#content3 {
  background-color: #f0ede9;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
  "c31"
  "c32"
  "c33"
  "c34"
  "c35"
  "c36"
  ;
  margin-bottom: 200px;
}
#c31{
  grid-area: c31;
}
#c32{
  grid-area: c32;
}
#c33{
  grid-area: c33;
}
#c34{
  grid-area: c34;
}
#c35{
  grid-area: c35;
}
#c36{
  grid-area: c36;
}
#content4 {
  background-color: #f0ede9;
  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
  "c41"
  "c42"
  "c43"
  "c44"
  "c45"
  "c46"
  ;
  margin-bottom: 200px;
}
#content5 {
  background-color: #f0ede9;
  grid-area: content5;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
  "c51"
  "c52"
  "c53"
  "c54"
  "c55"
  "c56"
  ;
  margin-bottom: 200px;
}
#movie-img{
  width: 200px;
  height: 300px;
}
#movies-name{
  background-color:white;
  font-size: 18 px;
  line-height: 1.4;
  font-family: 'Alef';
  font-weight: 700;
  margin: 0;
  padding-top: 5px;
  border: 0;
  text-align: center;
  text-decoration: none;
  color: black;
  float: top;
  margin-left: 5px;
  margin-right: 5px;
}
















@media only screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.07fr 0.07fr 0.05fr 1.5fr 1.2fr 0.1fr 0.1fr;
    grid-template-areas:
    "nav"
    "bar"
    "button"
    "green"
    "content1"
    "content2"
    "content3"
    "nxt"
    "footer"; 
  }
  #bar {
    display: none;
  }
}